body {
  background: #e3dfd8ff;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  font-family: 'Josefin Sans', sans-serif;
}

.todo-card {
  display: flex;
  align-items: center;
  width: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-todo {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.add-todo__small-input {
  height: 18px;
  width: 220px;
  margin-right: 6px;
  padding-top: 4pxf;
  outline: none;
  resize: none;
}

.todo-card__label {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 16pt;
}

.todo-card__check {
  margin-left: 75px;
  margin-right: 20px;
}

.todo-card--groovy {
  border-radius: 5px 5px 0px 0px;
  border: none;
  background: #e0e0eb;
  height: 33px;
  width: 33px;
  box-shadow: 0px 3px #948773ff;
  transition: transform 0.12s ease;
}

.todo-card--groovy:hover {
  border: none;
  outline: none;
  background: #9b9ba1;
}

.todo-card--groovy:active {
  border: none;
  outline: none;
  background: #a3a3bd;
  box-shadow: 0px 0px #94877300;
  transform: translateY(3px);
}

.todo-list {
  padding: 0;
  width: 325px;
  max-width: 600px;
  min-height: 400px;
  display: block;
  position: absolute;
  left: 40%;
  top: 2%;
  background: #c5b499ff;
  list-style: none;
}
